body 
{
  background-color: white;
  background-image: url("Schedule/MCride.jpg");
}

p 
{
  color: black;
  text-align:      center; 
}

h1 
{
  color: blue;
  text-align:     center; 
  font-size: 300%;
}

table 
{
  border-width:     1px;
  border-style:     solid;
  border-collapse:  collapse;
}

td 
{
  border-color: yellow;    
  border-width:   1px;  
  border-style:   solid  ;
  text-align: center;     
  font-size: 30px; 
  background-color: aqua;
  color:     purple; 
  width: 50px;
  height: 30px;      
}

th 
{
  background-size: cover;
  width: 150px;
  height: 75px;     
  border-width: 1px;
  font-size: 30px;    
  border-style:   solid;  
  border-color: rgb(0, 0, 7);
  background-color: red;
  color:  green;
}
