.zajmy
{
    text-align: center;
    font-size: 250%;
}

body
{
    background-color: #333;
}

img
{
    width: 35vw;
}

.zajem0
{
    border-style:solid;
    border-color: darkslateblue;
    background-color: gray;
}

.zajem1
{
    border-style: dashed;
    border-color: black;
    background-color: wheat;
}

.zajem2
{
    border-style: groove;
    border-color: aqua;
    background-color: green;
}

.zajem3
{
    border-style: double;
    border-color: turquoise;
    background-color: darkgoldenrod;
}

.zajem4
{
    border-style: dotted;
    border-color: black;
    background-color: red;
}

.zajem5
{
    border-style: outset;
    border-color: yellow;
    background-color: brown;
}